body {
    background-image: url("snakeart.jpg");
    background-color: black;
    color: #eee;
    font-family: monospace;
    max-width: 900px;
    margin-inline: auto;
}

canvas {

    background: rgb(69, 43, 104);
    width: 100%;
}